<div class="content">
    <div class="row">
        <div class="col-6">
            <div>Personal Information</div>
            <div class="row">
                <div class="col-4">Email</div>
                <div class="col-8">{{usrDtls.email}}</div>
            </div>
            <div class="row">
                <div class="col-4">First Name</div>
                <div class="col-8">{{usrDtls.first_name}}</div>
            </div>
            <div class="row">
                <div class="col-4">Last Name</div>
                <div class="col-8">{{usrDtls.last_name}}</div>
            </div>
            <div class="actionbtn">
                <button class="btn">EDIT</button>
            </div>
        </div>
        <div class="col-6">
            <div>Password</div>
            <div class="actionbtn">
                <button class="btn" (click)="changePwd()">CHANGE PASSWORD</button>
            </div>
        </div>
        <div class="actionbtn">
            <button class="btn" (click)="logout()">LOGOUT</button>
        </div>
    </div>
</div>