<div class="content">
    <div *ngIf="this.router.url === '/forgot-password'">
        <div class="section">FORGOT PASSWORD</div>
        <form [formGroup]="resetForm" (ngSubmit)="onReset()">
            <div class="form-group">
                <input type="email" formControlName="email" class="form-control required" placeholder="Email Address"
                    autocomplete="off"
                    [ngClass]="{ 'is-invalid':  (resetError.email.touched || isSubmitReset) &&resetError.email.errors }" />
                <div *ngIf="resetError.email.touched && resetError.email.errors" class="invalid-feedback">
                    <div *ngIf="resetError.email.errors?.required">
                        Email Address is required
                    </div>
                    <div *ngIf="resetError.email.errors?.pattern">
                        Enter a valid email address
                    </div>
                </div>
            </div>
            <div class="actionbtn">
                <button class="btn">RESET PASSWORD</button>
            </div>

        </form>
    </div>

    <div *ngIf="this.router.url !== '/forgot-password'">
        <div class="section">RESET PASSWORD</div>
        <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
            <div class="form-group">
                <input type="password" formControlName="password1" class="form-control required" placeholder="Password"
                    [ngClass]="{'is-invalid': (updateError.password1.touched || isSubmitUpdate) && updateError.password1.errors}" />
                <div *ngIf="updateError.password1.touched && updateError.password1.errors" class="invalid-feedback">
                    <div *ngIf="updateError.password1.errors?.required">
                        Password is required
                    </div>
                    <div *ngIf="updateError.password1.errors?.minlength">
                        Password must be at least 8 characters
                    </div>
                    <div *ngIf="updateError.password1.errors?.hasCapitalCase">
                        Password must contain at least one upper case character
                    </div>
                    <div *ngIf="updateError.password1.errors?.hasSmallCase">
                        Password must contain at least one lower case character
                    </div>
                    <div *ngIf="updateError.password1.errors?.hasNumber">
                        Password must contain at least one numeric character
                    </div>
                    <div *ngIf="updateError.password1.errors?.hasSpecialCharacters">
                        Password must contain at least one special character
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" formControlName="password2" class="form-control required"
                    placeholder="Confirm Password"
                    [ngClass]="{'is-invalid': (updateError.password2.touched || isSubmitUpdate) && updateError.password2.errors}" />
                <div *ngIf="updateError.password2.touched && updateError.password2.errors" class="invalid-feedback">
                    <div *ngIf="updateError.password2.errors?.required">
                        Password is required
                    </div>
                    <div *ngIf="updateError.password2.errors?.NoPassswordMatch">
                        Password is not matched
                    </div>

                </div>
            </div>
            <div class="actionbtn">
                <button class="btn">RESET PASSWORD</button>
            </div>
        </form>
    </div>
</div>