.section {
    width: 50%;
    margin: 3% auto 1%;
    text-align: center;

    @media only screen and (max-width: 1250px) {
        width: 100%;
    }
}

form {
    width: 30%;
    margin: auto;
    @media only screen and (max-width: 1250px) {
        width: 80%;
        margin: 10% auto;
    }
}

.tab-row {
    width: 50%;
    margin: 3% auto;
    text-align: center;

    @media only screen and (max-width: 1250px) {
        width: 100%;
    }
}

.success-msg {
    text-align: center;
    padding-top: 5%;
    button {
        border: 1px solid black;
    }
}