<div class="content">
    <div class="row py-2">
        <div class="col-8">
            <tabset class="tabs">
                <tab heading="All Products" (selectTab)="onSelectCat($event)"  id="all"></tab>
                <ng-container *ngFor="let itm of this.pS.catList">
                    <tab [heading]="itm.name" (selectTab)="onSelectCat($event)" [id]="itm.id"></tab>
                </ng-container>
            </tabset>
        </div>
        <div class="col-4  text-end">
            <!-- <button type="button" class="btn show-filter" [ngClass]="{'show-filter-active': isFilter }"
                (click)="filterPrds('F')">Sort By</button> -->
            <button type="button" class="btn show-search" [ngClass]="{'show-search-active': isSearch }"
                (click)="filterPrds('S')">Search</button>
                <!-- <select class="" >
                    <ng-container *ngFor="let x of sortList">
                    <option  [value]="x.id">
                      {{ x.value }}
                    </option>
                </ng-container>
                  </select> -->

        </div>
        <!-- <div *ngIf="isFilter" class="py-3">is Filter</div> -->
        <div *ngIf="isSearch" class="py-3">
            <form [formGroup]="searchForm">
                <input class="form-control" type="text" (keyup.enter)="searchPrd($event)" placeholder="Search" formControlName="keyword">
            </form>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-3 col-sm-6" *ngFor="let itm of prdList">
                <div class="card cursor" (click)="getPrdDtls(itm)"> <img [src]="itm.product_images[0]"
                        (error)="updateUrl($event, itm)" class="card-img-top" alt="about-athos">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="card-title">{{itm.title}}</h5>
                            </div>
                            <div class="col-4">
                                <p class="card-text text-end">{{itm.price | currency }}</p>
                            </div>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <span *ngFor="let it of this.pS.catList">
                                {{itm.category === it.id ? it.name : ''}}
                            </span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>