.card {
    transition: 0.5s;
    margin: 5px;
}

.card:hover {
    transform: scale(1.05);
}

.show-search,
.show-filter {
    position: relative;
    border: 1px solid #0534F3;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin: 5px;
    color: #0534F3;
}

.show-search-active,
.show-filter-active {
    position: relative;
    border: 1px solid #F80789;
    background-color: #F80789;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin: 5px;
    color: #fff;
}

.show-search:hover,
.show-filter:hover {
    background-color: #F80789;
    border-color: #F80789;
    color: #fff;

}

::ng-deep .tabs .nav-tabs {
    --bs-nav-tabs-link-active-color: #fff;
    --bs-nav-tabs-link-active-bg: #F80789;
    --bs-nav-tabs-link-active-border-color: #f80789;
    --bs-nav-tabs-border-color: none;
    --bs-nav-tabs-link-hover-border-color: #f80789;

    .nav-link {
        border-radius: 5px
    }
}

::ng-deep .tabs .nav {
    --bs-nav-link-color: #0534F3;
    --bs-nav-link-hover-color: #f80789;
}

.card-img-top {
    border-bottom: 1px solid lightgray;
}

.filter-group {
    margin-right: 2%;
    margin-bottom: 0.5rem;


    .filter-button, .form-control {
        border-radius: 0.375rem !important;
        border: 1px solid gray;
        height:40px
    }

    .filter-item {
        border: 1px solid lightgray;
        width: 45px;
        height: 45px;
        padding: 0;
    }

    .filter-active {
        border: 1px solid black;
    }

    .dropdown-menu {
        padding: 5% 15%;
        overflow-x: scroll;
        height: 300px;

        .nav-item {
            margin: 2% 0;

            input[type=checkbox] {
                cursor: pointer;
                margin-right: 0.5rem;
            }
        }

        .col-4 {
            padding: 2% 0;
        }

        .row {
            text-align: center;
            min-width: 250px;
            padding: 0 5%;
        }

        .navbar-nav {
            min-width: 250px;
        }
    }
}

.btn-close {
    margin-left: 0.5em;
    padding: 0.5em;
}