form {
    width: 30%;
    margin: auto;

    @media only screen and (max-width: 1250px) {
        width: 80%;
        margin: 10% auto;
    }

    .form-check {
        font-size: 12px;
        box-shadow: none;
    }

    .form-check-input:checked {
        background-color: #F80789;
        border-color: #F80789;
        box-shadow: none;

    }

    .form-floating {
        color: darkslategrey
    }
}

.forgotpwd-section {
    cursor: pointer;
    margin-bottom: 5%;

    a {
        color: black
    }
}

.tab-row {
    width: 50%;
    margin: 3% auto;
    text-align: center;

    @media only screen and (max-width: 1250px) {
        width: 100%;
    }

    .tab-col {
        border-bottom: 3px solid grey;
        color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tab-valid {
        border-bottom: 3px solid black;
        color: black;
    }
}

.success-msg {
    text-align: center;
    padding-top: 10%;

    button {
        border: 1px solid black;
    }
}