<div class="content" *ngIf="this.router.url === '/login'">
    <ng-container *ngIf="!isSuccess">
        <div class="tab-row">
            <alert [type]="msgType" *ngIf="isAlert" [dismissible]="true">{{msg}}</alert>
        </div>
        <div class="row tab-row">
            <div class="col-6 cursor tab-col" [ngClass]="{ 'tab-valid': isLogin }" (click)="changeTab(true)" x>LOGIN
            </div>
            <div class="col-6 cursor tab-col" [ngClass]="{ 'tab-valid': !isLogin }" (click)="changeTab(false)">CREATE
                ACCOUNT
            </div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" *ngIf="isLogin">
            <div class="form-group form-floating">
                <input type="email" formControlName="email" class="form-control required" placeholder="Email Address"
                    autocomplete="off"
                    [ngClass]="{ 'is-invalid':  (loginError.email.touched || isSubmitLogin) &&loginError.email.errors }" />
                <label for="floatingInput">Email Address</label>
                <div *ngIf="loginError.email.touched && loginError.email.errors" class="invalid-feedback">
                    <div *ngIf="loginError.email.errors?.required">
                        Email Address is required
                    </div>
                    <div *ngIf="loginError.email.errors?.pattern">
                        Enter a valid email address
                    </div>
                </div>
            </div>

            <div class="form-group form-floating">
                <input type="password" formControlName="password" class="form-control required" placeholder="Password"
                    [ngClass]="{'is-invalid': (loginError.password.touched || isSubmitLogin) && loginError.password.errors}" />
                <label for="floatingInput">Password</label>
                <div *ngIf="loginError.password.touched && loginError.password.errors" class="invalid-feedback">
                    <div *ngIf="loginError.password.errors?.required">
                        Password is required
                    </div>
                </div>
            </div>

            <div class="forgotpwd-section text-end">
                <a [routerLink]="['/forgot-password']">Forgot password</a>
            </div>
            <div class="actionbtn">
                <button class="btn">LOG IN</button>
            </div>

        </form>


        <form [formGroup]="registerForm" (ngSubmit)="onRegister()" *ngIf="!isLogin">
            <div class="form-group form-floating">
                <input type="email" formControlName="email" class="form-control required" placeholder="Email Address"
                    [ngClass]="{ 'is-invalid': (registerError.email.touched || isSubmitRegister) && registerError.email.errors}" />
                <label for="floatingInput">Email Address</label>
                <div *ngIf="registerError.email.touched && registerError.email.errors" class="invalid-feedback">
                    <div *ngIf="registerError.email.errors?.required">
                        Email Address is required
                    </div>
                    <div *ngIf="registerError.email.errors?.pattern">
                        Enter a valid email address
                    </div>
                </div>
            </div>

            <div class="form-group form-floating">
                <input type="password" formControlName="password1" class="form-control required" placeholder="Password"
                    [ngClass]="{'is-invalid': (registerError.password1.touched || isSubmitRegister) && registerError.password1.errors}" />
                <label for="floatingInput">Password</label>
                <div *ngIf="registerError.password1.touched && registerError.password1.errors" class="invalid-feedback">
                    <div *ngIf="registerError.password1.errors?.required">
                        Password is required
                    </div>
                    <div *ngIf="registerError.password1.errors?.minlength">
                        Password must be at least 8 characters
                    </div>
                    <div *ngIf="registerError.password1.errors?.hasCapitalCase">
                        Password must contain at least one upper case character
                    </div>
                    <div *ngIf="registerError.password1.errors?.hasSmallCase">
                        Password must contain at least one lower case character
                    </div>
                    <div *ngIf="registerError.password1.errors?.hasNumber">
                        Password must contain at least one numeric character
                    </div>
                    <div *ngIf="registerError.password1.errors?.hasSpecialCharacters">
                        Password must contain at least one special character
                    </div>
                </div>
            </div>
            <div class="form-group form-floating">
                <input type="password" formControlName="password2" class="form-control required"
                    placeholder="Confirm Password"
                    [ngClass]="{'is-invalid': (registerError.password2.touched || isSubmitRegister) && registerError.password2.errors}" />
                <label for="floatingInput">Confirm Password</label>
                <div *ngIf="registerError.password2.touched && registerError.password2.errors" class="invalid-feedback">
                    <div *ngIf="registerError.password2.errors?.required">
                        Password is required
                    </div>
                    <div *ngIf="registerError.password2.errors?.NoPassswordMatch">
                        Password is not matched
                    </div>
                </div>
            </div>
            <div class="form-group form-floating">
                <input type="text" formControlName="phone_number" class="form-control required" placeholder="Phone No"
                    [ngClass]="{'is-invalid': (registerError.phone_number.touched || isSubmitRegister) && registerError.phone_number.errors}" />
                <label for="floatingInput">Phone No</label>
                <div *ngIf="registerError.phone_number.touched && registerError.phone_number.errors"
                    class="invalid-feedback">
                    <div *ngIf="registerError.phone_number.errors?.required">
                        Phone Number is required
                    </div>
                    <div *ngIf="registerError.phone_number.errors?.pattern">
                        Please enter a valid Phone Number
                    </div>
                </div>
            </div>
            <!-- <div class="form-group">
                <input type="text" formControlName="first_name" class="form-control required" placeholder="First Name"
                    [ngClass]="{'is-invalid': (registerError.first_name.touched || isSubmitRegister) && registerError.first_name.errors}" />
                <div *ngIf="registerError.first_name.touched && registerError.first_name.errors"
                    class="invalid-feedback">
                    <div *ngIf="registerError.first_name.errors?.required">
                        First Name is required
                    </div>
                </div>
            </div> -->
            <!-- <div class="form-group">
                <input type="text" formControlName="last_name" class="form-control required" placeholder="Last Name"
                    [ngClass]="{'is-invalid': (registerError.last_name.touched || isSubmitRegister) && registerError.last_name.errors}" />
                <div *ngIf="registerError.last_name.touched && registerError.last_name.errors" class="invalid-feedback">
                    <div *ngIf="registerError.last_name.errors?.required">
                        Last Name is required
                    </div>
                </div>
            </div> -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                    [ngClass]="{'is-invalid': isSubmitRegister && !isChecked}">
                <label class="form-check-label text-muted">By creating an account, you agree to our <a
                        (click)="openModal(privacy)" class="cursor text-decoration-underline">Privacy Policy</a> and
                    <a (click)="openModal(terms)" class="cursor text-decoration-underline">Terms &
                        Conditions</a>.</label>
            </div>
            <div class="actionbtn">
                <button class="btn">CREATE ACCOUNT</button>
            </div>

        </form>

    </ng-container>
    <ng-container *ngIf="isSuccess">
        <div class="success-msg">
            <h1>Verify Your Email!</h1>
            <p>A verification link has been sent to your email. Please check your email to verify your account</p>
        </div>
    </ng-container>
</div>

<div class="content" *ngIf="this.router.url !== '/login'">
    <div class="success-msg">
        <h1>Verified!</h1>
        <p>You have successfully verified your account. You can now login!</p>
        <button class="btn" routerLink="/login">LOGIN NOW!</button>
    </div>
</div>

<ng-template #terms>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Term & Condition</h5>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row mb-2">
            <div class="col-12">
            Our terms and conditions cover the information, contents and/or products made available on
            www.athosathlete.com (“our website”). <br> <br>

            By accessing our website, you agree to be bound by our terms and conditions as well as our policies, which
            will be updated from time to time as posted on our website. By continuing to use and accessing our website,
            you agree to be bound by the same.
        </div>
        </div>
        <div class="row mb-2">
            <div class="col-1 text-end">1.</div>
            <div class="col-11"><strong>Access and Use of Our Website.</strong>
                All information, contents and products on our website are solely for your personal and non-commercial
                use. We reserve our right to edit, insert, modify, remove or cancel any information, contents and
                products on our website at any time.</div>
        </div>
        <div class="row mb-2">
            <div class="col-1 text-end">2.</div>
            <div class="col-11"><strong>Personal Information.</strong>
                We will use your personal information in accordance with our Privacy Policy.</div>
        </div>
        <div class="row mb-2">
            <div class="col-1 text-end">3.</div>
            <div class="col-11"><strong>Third Party Links.</strong>
                The insertion of any hyperlinks on our website is for your convenience. As these linked websites are
                owned and operated by third parties, we are not responsible and make no warranties to the same.</div>
        </div>
        <div class="row mb-2">
            <div class="col-1 text-end">4.</div>
            <div class="col-11"><strong>Intellectual Property Rights.</strong>
                All information, contents and products on our website are protected by copyright, patent, trademark or
                other intellectual property rights and laws. You shall not copy, modify, sell, distribute, transmit,
                share or use it in any manner for any purpose other than your personal and non-commercial use. We
                respect intellectual property rights. If you believe that any part of our website may constitute any
                infringement of intellectual property rights, please contact us. </div>
        </div>
        <div class="row mb-2">
            <div class="col-1 text-end">5.</div>
            <div class="col-11"><strong>Disclaimer.</strong>
                All information, contents, products and/or services are provided “as is” and without any warranties or
                representations made by us of any kind, whether expressed or implied, including, but not limited to,
                warranties of quality, performance, non-infringement, merchantability, or fitness for a particular
                purpose, nor are there any warranties created by course of dealing, course of performance or trade
                usage. Notwithstanding the foregoing, we do not warrant that our services, our website or the functions
                contained on our website will be available, accessible, uninterrupted, timely, secure, accurate,
                complete or error-free. We have no control over and, we do not guarantee or accept any responsibility
                for the fitness for purpose, existence, quality, safety or legality of items available via our website;
                and we shall not be liable for any claims, demands and damages arising out of or in connection with the
                same.
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-1 text-end">6.</div>
            <div class="col-11"><strong>Limitation of Liability.</strong>
                We will not be liable for any damages or losses not solely and directly attributable to us, whether in
                contract, tort, negligence or otherwise. </div>
        </div>
        <div class="row mb-2">
            <div class="col-1 text-end">7.</div>
            <div class="col-11"><strong>Governing Law.</strong>
                These terms and conditions are governed by laws of Malaysia. </div>
        </div>
        <div class="row mb-2">
            <div class="col-1 text-end">8.</div>
            <div class="col-11"><strong>Dispute Resolution.</strong>
                Any disputes, controversy or claim arising out of or in connection with your use and access to our
                website and any information, contents and products on our website or these terms and conditions shall be
                settled by arbitration before a single arbitrator in accordance with the Asian International Arbitration
                Centre Arbitration Rules as in force on the date of the commencement of the arbitration. The seat of
                arbitration shall be at Kuala Lumpur, Malaysia. Before referring the dispute resolution to arbitration,
                parties shall seek for amicable settlement of that dispute by mediation in accordance with the Asian
                International Arbitration Centre Mediation Rules as in force on the date of the commencement of the
                mediation.</div>
        </div>
    </div>
</ng-template>

<ng-template #privacy>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Privacy Policy</h5>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row mb-2">
            <div class="col-1 text-end">1.</div>
            <div class="col-11"><strong>Personal Data.</strong>
                Personal data includes personal information that you have provided to us
                when you sign up as our member or when you purchase any products from our website, including your name,
                billing and/or delivery address, telephone number, email address, bank account and payment information,
                etc.</div>
        </div>
        <div class="row mb-2">
            <div class="col-1 text-end">2.</div>
            <div class="col-11"><strong>Use and Processing of Personal Data.</strong>
                We may use and process your personal data to provide services that you have requested or services that
                may be of interest to you, to respond to your enquiry and for our administrative purposes. We may also
                send you newsletters, our latest events and updates, etc. Please notify us if you do not wish us to use
                and process your personal data for providing you with our newsletters, as well as our latest events and
                updates.</div>
        </div>
        <div class="row mb-2">
            <div class="col-1 text-end">3.</div>
            <div class="col-11"><strong>Disclosure to Third Parties.</strong>
                We may share your personal data with our third party service providers including IT service providers,
                data entry service providers, professional advisors and auditors, government and regulatory authorities
                to comply with any laws, regulations, government requirements and policies.</div>
        </div>
        <div class="row mb-2">
            <div class="col-1 text-end">4.</div>
            <div class="col-11"><strong>Contact Us.</strong>
                If you have any questions or concerns about our privacy policy, please contact us via email at
                <a href="mailto:general@athosathlete.com">general@athosathlete.com</a>.
            </div>
        </div>
    </div>
</ng-template>