.background-img {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.float-icon {
        position: fixed;
        bottom: 5%;
        right: 1%;
        z-index:99;

        img {
          width:70px
        }
}