.btn-cart {
    color: #fff;
    background-color: #F80789;
    border: 1px solid #F80789;
}

.btn-cart:hover {
    color: #F80789;
    background-color: #fff;
    border: 1px solid #F80789;
}

.prd-card {
    background-color: #fff;
    padding: 5%;
    border-radius: 30px;
}