<div class="content">
    <div class="row prd-card">
        <div class="col-md-6 prd-carousel">
            <img [src]="this.carouselImg" (error)="updateUrl($event)" class="card-img-top" alt="about-athos">
            <div>
                <carousel [itemsPerSlide]="5" [singleSlideOffset]="true" [indicatorsByChunk]="true" [interval]="0"
                    [showIndicators]="false" [noWrap]="true">
                    <div class="carousel-inner">
                        <slide *ngFor="let prd of this.carouselList">
                            <img [src]="prd" alt="image slide" (error)="updateUrl($event)" (click)="changeImg(prd)">
                        </slide>
                    </div>
                </carousel>
            </div>

        </div>
        <div class="col-md-6 prd-dtls">
            <h3>{{prdDtls?.title}}</h3>
            <div class="mb-2 text-muted">
                <span *ngFor="let it of this.catList">
                    {{prdDtls.category === it.id ? it.name : ''}}
                </span>
            </div>
            <div class="card-text">
                <span>{{prdDtls?.price | currency: 'MYR '}}</span>
            </div>
            <div class="colour-tab">
                <h5>Colour</h5>
                <!-- <ul class="navbar-nav">
                    <ng-container *ngFor="let colour of colorList">
                        <li class="nav-item" (click)="changeColor(colour)"
                            [ngClass]="{ 'colour-active': colour.active }">
                            <img [src]="colour.image">
                        </li>
                    </ng-container>
                </ul> -->
                <tabset>
                    <ng-container *ngFor="let color of colorList">
                        <tab>
                            <ng-template tabHeading>
                                <img [src]="color.product_variant_images[0]" (click)="changeColor(color)"
                                    (error)="updateUrl($event, color.product_variant_images[0])">
                            </ng-template>

                        </tab>
                    </ng-container>
                </tabset>
            </div>
            <div class="size-tab">
                <h5>Size<span (click)="openModal(sizeChart)" class="cursor float-end text-decoration-underline">Size Guide</span></h5>
                <ul class="navbar-nav">
                    <ng-container *ngFor="let size of sizeList">
                        <li class="nav-item cursor" (click)="changeSize(size)"
                            [ngClass]="{ 'size-active': size.active,'size-disabled': !size.available }">{{size.name}}
                        </li>
                    </ng-container>
                </ul>
                <ng-container *ngIf="!isSelected && !isNew"><span>Please select a Size</span></ng-container>
            </div>
            <div class="btn-cart">
                <button class="btn" (click)="addCart()">Add To Cart</button>
            </div>
            <div class="desc">
                <h5>Description</h5>
                <p>{{prdDtls?.description}} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>
        </div>
        <div *ngIf="this.viewList.length !== 0" class="review-content">
            <div class="linear"></div>
            <h1 class="text-center">Recently View Items</h1>
            <carousel [itemsPerSlide]="slide" [showIndicators]="false">
                <div class="carousel-inner">
                    <slide *ngFor="let itm of this.viewList">
                        <div class="card cursor" (click)="getPrdDtls(itm)"> <img [src]="itm.product_images[0]"
                                (error)="updateUrl($event, itm)" class="card-img-top" alt="about-athos">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="card-title">{{itm.title}}</h5>
                                    </div>
                                    <div class="col-4">
                                        <p class="card-text text-end">{{itm.price | currency: 'MYR '}}</p>
                                    </div>
                                </div>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <span *ngFor="let it of this.catList">
                                        {{itm.category === it.id ? it.name : ''}}
                                    </span>
                                </h6>
                            </div>
                        </div>
                    </slide>
                </div>
            </carousel>
        </div>
    </div>
</div>

<ng-template #sizeChart>
    <div class="modal-header">
        <h5 class="modal-title pull-left">Size Guide</h5>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="./assets/size1.png" class="about-img" alt="about-athos">
        <img src="./assets/size2.png" class="about-img" alt="about-athos">
        <img src="./assets/size3.png" class="about-img" alt="about-athos">
      </div>
</ng-template>