<div class="carousel-container">
    <div id="desktopCarousel" class="carousel slide desktop" data-bs-ride="carousel" data-bs-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="6000">
                <video class="w-100" oncanplay="this.play()" onloadedmetadata="this.muted = true">
                    <source src="./assets/athos-logo-desktop.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <video class="w-100" onloadedmetadata="this.muted = true">
                    <source src="./assets/athos-desktop.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
        </button> -->
    </div>

    <div id="mobileCarousel" class="carousel slide mobile" data-bs-ride="carousel" data-bs-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="6000">
                <video class="w-100" oncanplay="this.play()" onloadedmetadata="this.muted = true">
                    <source src="./assets/athos-logo-mobile.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <video class="w-100" onloadedmetadata="this.muted = true">
                    <source src="./assets/athos-mobile.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
        </button> -->
    </div>
</div>

<div class="content">
    <div class="about-container" id="AboutUs">
        <h1 class="primary-font">ABOUT ATHOS ATHLETE</h1>
        <img src="./assets/about.png" class="about-img" alt="about-athos">
        <p>At Athos, we strive to be the catalyst for better sports apparel for all sportsmans. Our products, our
            people and the stories we share elevate sport, champion sportsmanship, and cultivate the mindset of breaking
            limits in both aspects of sports and lives.</p>
        <div class="row mt-3">
            <div class="col-md-4">
                <img src="./assets/about-vision.png" class="about-img" alt="about-vision">
                <h3 class="primary-font pt-3">Our Vision</h3>
                <p>We aim to be a leading sporting goods manufacturer in APAC and constantly be at the forefront of
                    innovative fabric technology.</p>
            </div>
            <div class="col-md-4">
                <img src="./assets/about-mision.png" class="about-img" alt="about-mission">
                <h3 class="primary-font pt-3">Our Mission</h3>
                <p>We dedicate ourselves to developing a successful business by offering our customers an excellent
                    range of quality and customization of products for sports.</p>
            </div>
            <div class="col-md-4">
                <img src="./assets/about-attitude.png" class="about-img" alt="about-attitude">
                <h3 class="primary-font pt-3">Our Attitude</h3>
                <p>Challenges ahead of us are like mountains and stumbling blocks. At Athos Athlete, we seek no
                    shortcut and are ready at all times to prevail.</p>
            </div>
        </div>
    </div>

    <div class="linear"></div>

    <div class="catalogue" id="Catalogue">
        <h1 class="primary-font text-center">Catalogue</h1>
        <carousel [itemsPerSlide]="slide" [showIndicators]="false" [singleSlideOffset]="true" [startFromIndex]="0"
            [interval]="3000">
            <div class="carousel-inner">
                <slide *ngFor="let slide of slides; let index=index">
                    <div class="cat-card">
                        <video class="w-100" oncanplay="this.play()" onloadedmetadata="this.muted = true" loop>
                            <source [src]="slide.image" type="video/mp4" />
                        </video>
                    </div>
                </slide>
            </div>
        </carousel>

    </div>
</div>