.about-img {
    height: 150px;
}


.about-container {
    text-align: center;
}

.footer {
    padding-top: 10%;
    text-align: center;

    a {
        cursor: pointer;
        text-decoration: none;
        color: rgb(33, 37, 41);
    }
}

.carousel-container {
    .carousel-item {
        height: 100vh;
    }

    img {
        height: 95vh;
    }

    @media only screen and (min-width: 1250px) {
        img {
            margin-top: 5vh;
        }
    }

    @media only screen and (max-width: 1250px) {
        video {
            height: 95vh;
            object-fit: fill;
        }
    }

    @media only screen and (min-width: 1250px) {
        .mobile {
            display: none;
        }
    }

    @media only screen and (max-width: 1250px) {
        .desktop {
            display: none;
        }

        .mobile {
            margin-top: 5vh;
        }
    }

    .mobile {
        .carousel-inner {
            height: 95vh;
        }
    }
}



.catalogue {
    .carousel-inner {
        width: 90%;
        margin: auto
    }

    // .cards-wrapper {
    //     display: flex;
    //     justify-content: center;
    // }



    .cat-card {
        margin: 1em;
        height: 100%;
        video{
            border-radius: 10px;
        }

    }

    .carousel-control-prev,
    .carousel-control-next {
        background-color: #000000;
        width: 5vh;
        height: 5vh;
        top: 50%;
        transform: translateY(-50%);
    }

}