<div class="footer" id="ContactUs">
    <h6>ATHOS INNOVATION SDN.BHD. 202201020251(1465948-D)</h6>
    <p>No.3, Jalan Mutiara Emas 6/1A,<br>
        Taman Mount Austin, 81100 Johor Bahru,<br>
        Johor, Malaysia</p>
    <a href="mailto:general@athosathlete.com">general@athosathlete.com</a>
    <div class="social-media pt-3">
        <a href="https://www.facebook.com/profile.php?id=100083466349340" target="_blank"><img
                src="./assets/icons/fb_white.png"></a>
        <a href="https://instagram.com/athos.athlete?igshid=NmNmNjAwNzg=" target="_blank"><img
                src="./assets/icons/insta_white.png"></a>
        <a href="https://www.linkedin.com/company/athos-athlete/" target="_blank"><img
                src="./assets/icons/linkedin_white.png"></a>
        <a href="https://api.whatsapp.com/send?phone=601152224333" target="_blank"><img
                src="./assets/icons/whatsapp_white.png"></a>
    </div>
</div>